form.form-horizontal
	div.form-group
		textarea.rant-text.form-control(rows = "3" name = 'content' value = "What's in your mind?" ng-model='rantContent')
	div.form-group.rant-settings
		div.col-xs-8.rant-timing
			div.form-inline
				div.form-group.col-xs-6.rant-timing
					div.btn-group.btn-block.no-padding-left.no-padding-right.timing-btn
						button.btn.btn-default.btn-sm.col-xs-10(type='button', data-toggle='dropdown' aria-haspopup='true' aria-expanded="false") {{lifebtn}}
						button.btn.btn-default.dropdown-toggle.btn-sm.col-xs-2(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
							span.caret
						ul.dropdown-menu
							li
								a(ng-click="setLifetime(1)") 1 hour
							li
								a(ng-click="setLifetime(3)") 3 hour
							li
								a(ng-click="setLifetime(6)") 6 hour
							li
								a(ng-click="setLifetime(12)") 12 hour
							li
								a(ng-click="setLifetime(24)") 1 day
					//- input.form-control.input-sm#life-time(type='text' name='lifetime' data-toggle='popover' data-trigger='focus')
				div.form-group.col-xs-6.rant-timing
					div.btn-group.btn-block.no-padding-left.no-padding-right.timing-btn
						button.btn.btn-default.btn-sm.col-xs-10(type='button', data-toggle='dropdown' aria-haspopup='true' aria-expanded="false") {{viewbtn}}
						button.btn.btn-default.dropdown-toggle.btn-sm.col-xs-2(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
							span.caret
						ul.dropdown-menu
							li
								a(ng-click="setViewtime(10)") 10 seconds
							li
								a(ng-click="setViewtime(30)") 30 seconds
							li
								a(ng-click="setViewtime(60)") 1 min
							li
								a(ng-click="setViewtime(300)") 5 mins
							li
		div.col-xs-4
			div.checkbox
				label
					input(type='checkbox' name='anonymous' ng-model='anonymous')
					| Post as anonymous
	div.form-group
		div.col-sm-2.pull-right.rant-timing
			button.btn.btn-xs.btn-primary.pull-right.btn-rant(type='button' ng-click='post()') Post
					
div.row
	hr
div.row(ng-repeat = "rant in rants", ng-hide = "rant.timeout")
	div.rant-header
		a {{rant.ownername}}
	div.rant-content
		p {{rant.collapse}}
			a(href = '', ng-click='viewRant(rant)', ng-hide = 'rant.viewed') See more
	hr