div.row(ng-repeat = "rant in rants")
    div.rant-header
        a {{rant.ownername}}
    div.rant-content
        p {{rant.content}}
    hr
    div.row.options-btn(ng-hide='editBtnClicked')
        div.col-sm-2.col-sm-offset-8
            button.btn-block.btn.btn-xs.btn-default Edit
        div.col-sm-2
            button.btn.btn-xs.btn-block.btn-default Remove
    div.row.edit-btn(ng-show="false")
        div.col-sm-2
            button.btn.btn-xs.btn-block.btn-default Cancel
        div.col-sm-2.col-sm-offset-8
            button.btn-block.btn.btn-xs.btn-default Save