extends layout
block content
	include header.jade
	div.container-fluid(ng-app="rant")
		div.row
			div.col-xs-3(ng-controller="HomeController")
				ul.list-group
					li.list-group-item 
						a(href='#/') Home
					li.list-group-item 
						a Profile
					li.list-group-item 
						a(href='#/messages') Messages
							span.pull-right.badge.progress-bar-danger {{messages.length}}
					li.list-group-item 
						a(href='#/followings') Followings
					li.list-group-item
						a Settings
			div.col-xs-6(ng-view)
			div.col-xs-3(ng-controller='SuggestionController')
				ul.list-group(ng-show='suggestionLength')
					li.list-group-item.disabled Suggested friends
					li.list-group-item(ng-repeat='friend in friendSuggestions' ng-hide='friend.added')
						a {{friend.displayname}}
						span.btn.btn-primary.btn-xs.pull-right(ng-click='follow(friend)') Follow
