body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #f7f7f7;
}
.logo{
  margin-top: -10px;
  margin-bottom: -10px;
}
.customed-header{
  background-color: #3b5998;
  padding: 15px;
  margin-bottom: 20px;
  color: white;
}
span.display-name{
  line-height: 30px;
}
.popover{
    width:200px;
    height:150px;
  }
.dropdown-menu{
  width: 100%;
}
label.rant-settings {
    font-weight: normal !important;
}
label.control-label{
  text-align: left;
}
.no-margin-left{
  margin-left: 0
}
.no-margin-right{
  margin-right: 0
}
.no-padding-left{
  padding-left: 0
}
.no-padding-right{
  padding-right: 0
}
.message-box{
  padding-left: 10px;
  padding-right: 10px;
}
.list-btn{
  margin-right: 10px;
}
.modal-body{
 
}
.form-inline .form-group input{
  width: 80px;
}
.rant-timing{
  padding: 0px;
  margin:0;
}
.timing-btn{
  margin-right:20px;
}
.rant-settings{
}
.form-inline .form-group{
    margin-left: 0;
    margin-right: 0;
}
.display-name{
  margin-left: 5px;
  margin-right: 5px;
}
.vcenter{
}
.rant-header{
  margin: 0;
}
.rant-content{
  margin-top: 20px;
}
.btn-rant{
  padding:2px 15px;
}
.rant-text.form-control{
  margin-bottom: -10px;
}
.form-signin {

  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
  color: white;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.form-signin .signup-link{
    margin-top: 10px;
}
.error-message {
    color: red;
}
